@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --cor01: hsl(215, 51%, 70%);
    --cor02: hsl(178, 100%, 50%);
    --cor03: hsl(216, 54%, 11%); /* Fundo do body */
    --cor04: hsl(216, 50%, 16%); /* Fundo do main e footer */
    --cor05: hsl(215, 32%, 27%); /* Fonte??? */
    --cor06: hsl(0, 0%, 100%);
}

/* * {
    margin: 0px;
    padding: 0px;
}
*/

body {
    background-color: var(--cor03);
    font-family: 'Outfit', sans-serif;
}

main {
    padding-top: 1px;
    margin: auto;
    width: 400px;
    background-color: var(--cor04);
    border-radius: 15px;
    box-shadow: 0px 18px 5px 12px rgba(4, 10, 26, 0.144);
}

main a {
    text-decoration: none;
}

main a:visited {
    text-decoration: none;
    color: var(--cor06);
}

main a:hover {
    color: var(--cor02);
}

#equi {
    background-image: url('../images/image-equilibrium-302.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    margin-top: 30px;
    width: 302px;
    height: 302px;
    border-radius: 15px;
}

.gambiarra {
    margin: auto;
    margin-top: 30px;
    width: 302px;
    height: 302px;
    border-radius: 15px;
}

.gambiarra:hover {
    opacity: 1;
    visibility: visible;
    color: var(--cor02);
}

div#equi > a {
    text-decoration: none;
}

div#equi > a:hover {
    color: var(--cor02);
}

main h1 {
    color: white;
    margin-left: 49px;
}

h1 a {
    text-decoration: none;
    color: var(--cor06);
}

h1 a:visited {
    text-decoration: none;
    color: var(--cor06);
}

h1 a:hover {
    color: var(--cor02);
}

#descricao {
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
    color: var(--cor01);
    margin-left: 49px;
    margin-right: 49px;
}

/* #time_left {
    font-size: 18px;
    text-align: justify;
    
    color: var(--cor01);
    margin-left: 74px;
    margin-right: 74px;
} */

.mesma_linha {
    display: inline-block;
    /*margin-left: 49px;*/
}

#etherium {
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    color: var(--cor02);
    margin-left: 49px;
    margin-right: 49px;
}

#time_left {
    margin-left: 95px;
    margin-right: 49px;
}

main p {
    color: var(--cor01);
    text-align: right;
}

#avatar {
    margin-left: 49px;
    border: 1px solid var(--cor06);
    border-radius: 50%;
}

#criador {
    margin-left: 15px; 
}

strong {
    color: var(--cor06);
}

#criador a {
    text-decoration: none;
}

#criador a:visited {
    text-decoration: none;
    color: var(--cor06);
}

#criador a:hover {
    color: var(--cor02);
}