@charset "UTF-8";

@font-face {
    font-family: 'Neuro';
    src: url('../fontes/Neuro\ X\ Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Neuro regular';
    src: url('../fontes/Neuro\ X\ Regular\ Rounded.ttf') format('truetype');
}

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: Neuro;
    --fonte03: 'Neuro regular';
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: #D87519;
}

header {
    background-color: #D87519;
    background-image: url('../imagens/o.jpg');
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
    font-family: Neuro;
    text-align: center;
}

header > h1 {
    font-size: 20vw;
    font-weight: normal;
    padding-top: 13px;
}

header > p {
    font-size: 5.5vw;
    font-weight: normal;
    padding-bottom: 5px;
}

header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 5px rgba(213, 0, 4, 0.603);
    color: #D50002;
}

.video {
    background-image: linear-gradient(135deg, #D87519, #990207, #D50002);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
    margin: 0px 0px 0px -20px;
    padding: 20px 0px 20px 20px;
    padding-bottom: 55.5%;
    position: relative;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 6.3%;
    width: 90%;
    height: 90%;
}

/*section.video {
    background-image: linear-gradient(135deg, #D87519, #990207, #D50002);
    height: 315px;
    position: relative;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
}

section.video > iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 1em;
    font-family: var(--fonte03);
    font-size: 8vw;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}

section > h1 {
    text-align: center;
    font-family: var(--fonte02);
    font-weight: normal;
    padding-bottom: 40px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: #D87519;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
    color: rgb(0, 0, 0);
}

.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(216, 117, 25, 0.479);
    color: rgb(0, 0, 0);
}

section#img01 {
    background-image: url('../imagens/d.jpg');
    background-position: left center;
    background-size: 100%;
    background-attachment: fixed;
}

section#img02 {
    background-image: url('../imagens/s-deitada.jpg');
    background-position: left center;
    background-size: 100%;
    background-attachment: fixed;
}

section#img03 {
    background-image: url('../imagens/i.jpg');
    background-position: left center;
    background-size: 100%;
    background-attachment: fixed;
}

footer {
    background-color: #D87519;
    background-image: url('../imagens/o-cortada.jpg');
    background-position: center bottom;
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    font-family: var(--fonte01);
    font-size: 1.5vw;
    padding: 45px;
    color: white;
}

footer > p {
    background-color: rgba(0, 0, 0, 0.582);
    display: inline-block;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 5px rgba(213, 0, 4, 0.603);
    color: #D50002;
}
